
@media (max-width: 576px){
    body {
        padding: 0%;
        margin: 0%;
        width: 100vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        
}
        

.section1 {
    gap: 0%;
    }

.headerL {
    width: 200px;
    height: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

    @media (min-width: 993px) and (max-width: 992px){

    }
    .headerL img {
        height: 100px;
        width: 100px;

    }

    .headerR nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} 

@media (min-width: 575px) and (max-width: 768px){

    body {
        padding: 0%;
        margin: 0%;
        width: 100vw;
        /* display: flex;
        justify-content: center;
        align-items: center; */

    }

    .section1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0%;
    }

    .headerL {
        width: 30%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    .headerL img {
        height: 100px;
        width: 100px;
    }

    .headerR {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerR nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 576px){

    .sec2anim{
        padding: 0%;
        margin: 0%;
        width: 30%;
        height: 20%;
        padding-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
}

    .sec2anim .anim {
        width: 55px;
        height: 55px;
        background: none;
    }

    .anim img {
        width: 45px;
        height: 45px;
    }
}