
@font-face{
    font-family: OswaldMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldMedium.ttf);
}

@font-face{
    font-family: OswaldRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldRegular.ttf);
}

@font-face{
    font-family: RobotoBold;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoBold.ttf);
}

@font-face{
    font-family: RobotoMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoMedium.ttf);
}

@font-face{
    font-family: RobotoRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoRegular.ttf);
}




.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.bannerLeft{
    width: 30%;
    color: white;
}

.bannerTitle{
    font-family: robotoBold;
    font-size: 30px;
    margin: 0;
}

.bannerText{
    color: rgb(71, 123, 208);
    font-family: robotoRegular;
    font-size: 10px;
    line-height: 15px;
}

.bannerButtons{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.bannerButtons>button{
    border: none;
    border-radius: 100px;
    padding: 8px 16px 8px 16px;
    font-size: 10px;
    color: white;
    transition: 0.3s;
}

.bannerButtons>button:hover{
    background-color: white;
    color: rgb(32 ,82 ,161);
}

.bannerButtons>.button1{
    background-color: rgb(5, 212 , 239);
}

.bannerButtons>.button2{
    background-color: rgb(32 ,82 ,161);
}

.bannerImage{
    background-image: url(./../src/image/images/banner-right-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    aspect-ratio: 1/1;
}

.bannerRight{
    width: 30%;
    aspect-ratio: 1/1;
}


/* SECTION 3  */

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: robotoRegular;
    gap: 40px;
    position: relative;
}

.sect3Left{
    width: 32%;
    aspect-ratio: 1/1;
}

.sect3Image{
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(./../src/image/images/informationmain-left-sec-img.png);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sect3Right{
    width: 30%;
}

.lightBlueHeader{
    letter-spacing: 3px;
    color: rgb(5, 212 , 239);
    font-family: robotoBold;
    font-size: 8px;
}

.sect3Header{
    font-size: 25px;
}

.sect3Text{
    font-size: 10px;
    line-height: 15px;
    color: rgb(71, 123, 208);
    margin-bottom: 20px;
}

.sect3Check{
    width: 10px;
}

.checkText{
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkLine{
    margin-top: 3px;
    margin-bottom: 2px;
    color: rgb(71, 123, 208);
}

.sect3BackgroundDots{
    width: 15%;
    height: 100%;
    position: absolute;
    background-image: url(./../src/image/images/dots-img2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    right: 0;
}

