@font-face {
    font-family: OswaldMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldMedium.ttf);
}

@font-face {
    font-family: OswaldRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/OswaldRegular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoBold.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoMedium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(./../../MolenStars/MolenStars/Assets/fonts/RobotoRegular.ttf);
}

body {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100vw;
    background-image: url(./../src/image/images/banner-overlay-img.png);
    background-size: cover;
    background-color: rgb(9, 22 , 80);
    background-repeat: no-repeat; 
}

.section1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: RobotoMedium;
    font-size: 15px;
    gap: 100px;
}

.headerL {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.headerL img {
    height: 135px;
    width: 150px;
}

.headerR {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center; 
    color: white;
}

.headerR nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.headerR a{
    color: white;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
}

.headerR>nav>.contactus {
    border-radius: 100px;
    background-color: rgb(5,212,239);
}

.headerR>nav>a:hover{
    border-radius: 100px;
    background-color: rgb(5,212,239);
}



/* /////////////////////// */

.section2 {
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sec2titre {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.sec2titre h1{
    margin: 0%;
    font-family: RobotoMedium;
    font-size: 33px;

}

.sec2titre p{
    font-family: RobotoMedium;
    font-size: 11px;
    color: #36bbe6;
}

.sec2anim {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.anim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px; 
    background-color: rgba(23,37,110,255);
    border-radius: 10px;
}

.anim img {
    height: 60px;
    width: 60px; 
}






/* /////////////////////////// */


/* ///////////////////////////////////////// */

.section4 {
    width: 100vw;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./../src/image/images/overly-img.png);
}

.whatwedo {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../src/image/images/overly-img.png);
}
.sec4titre {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.sec4titre h1{
    margin: 0%;
    font-family: OswaldRegular;
    font-size: 33px;

}

.sec4titre p{
    font-family: OswaldRegular;
    font-size: 11px;
    color: #36bbe6;
}

.sec4anim {
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.anim4 {
    height: 270px;
    width: 210px; 
    background-color: rgba(23,37,110,255);
    border-radius: 10px;

}

.Qanim {
    display: flex;
    align-items: center;
    height: 35%;
}

.Qanim img {
    height: 45px;
    width: 50px; 
    padding: 10% 0% 10% 10%;
    /* margin-top: 10%; */
}

.Ptext {
    width: 240px;
    font-size: 20px;
}

.Ptext p {
    width: 100%;
    padding: 10% 0% 10% 10%;
    font-family: OswaldRegular;
}


.Qtext h3 {
    height: 40%;
    width: 70%; 
    padding-left: 10%;
    margin-top: 2%;
    font-family: robotoRegular;
    font-size: 15px;
    color: white;
}

.anim4 p {
    height: 45px;
    width: 70%; 
    padding-left: 8%;
    padding-top: 0%;
    font-size: smaller;
    margin-top: 0%;
    color: #5c6ab5;
}

.sec4btn{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.sec4btn>button{
    border: none;
    border-radius: 100px;
    padding: 8px 16px 8px 16px;
    font-size: 10px;
    color: white;
    transition: 0.3s;
    background-color: #36bbe6;
}

.sec4btn>button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(32 ,82 ,161);
}


/* /////////////////////////////////// */


.section6 {
    height: 500px;
    background-image: url(./../src/image/images/overly-img.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6Left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}


.haut {
    height: 50%;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.boite1 {
    background-color: rgba(23,37,110,255);
    border-radius: 10%;
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    gap: 12px;
}

.boite1 p{
    padding: 0%;
    margin: 0%;
    font-family: OswaldRegular;
    font-size: 20px;
    color: #5f70be;

}

.boite1 h2{
    padding: 0%;
    margin: 0%;
    font-family: robotoRegular;
    color: white;
    font-size: 30px;
}

.bas {
    height: 50%;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boite p{
    padding: 0%;
    margin: 0%;
    font-family: OswaldRegular;
    font-size: 20px;
    color: #5f70be;

}
   
.boite h2{
    padding: 0%;
    margin: 0%;
    font-family: robotoRegular;
    color: white;
    font-size: 30px;
}
   


.boite {
    background-color: rgba(23,37,110,255);
    border-radius: 10%;
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    gap: 12px;

}


.sec6Right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 1%;
}


.sec4titre h1{
    margin: 0%;
    font-family: OswaldRegular;
    font-size: 33px;

}

.sec6Right h3{
    font-family: RobotoRegular;
    color: #36bbe6;
    font-size: 15px;
    margin: 0%;
}

.sec6Right h1{
    font-family: RobotoRegular;
    color: #ffffff;
}

.sec6Right p{
    font-family: OswaldRegular;
    font-size: 15px;
    color: #5f70be;
    margin: 0%;
}

/* line-height */